
body {
    font-family: Arial, sans-serif;
    background-color: #CCCCCC;
}

.login-container {
    width: 400px;
    height: 500px;
    margin: 0 ;
    margin-right: 40%; /* กำหนดให้อยู่ด้านซ้าย */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #CCCCCC;
   
    /* เพิ่มเอฟเฟกต์การเงา */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EE3F42;
    color: #fff;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #EE3F42;
}